# Ignore all of the theme switching files
# Wallust output
kitty/.config/kitty/colors-wallust.conf
kitty/.config/kitty/colors.conf

# Matugen output
waybar/.config/waybar/colors.css
swaync/.config/swaync/matugen/colors.css
hypr/.config/hypr/colors.conf
rofi/.config/rofi/colors.rasi

# Neovim current colorscheme
nvim/.config/nvim/lua/current-theme.lua
